@charset "utf-8";

* {margin: 0; padding: 0; box-sizing: border-box;}
li {list-style: none;}
a {color: inherit; text-decoration: none;}

main {width: 100%; height: 100vh; background-color: #fff; display: flex;}

main div.aside {width: 100%; height: 100vh; position: absolute; top: 0; left: -100%; opacity: 0; z-index: 2; padding: 20vh 7vw 14vh 20vw; display: flex; justify-content: space-between; transition: 1s;}
main div.aside.on {opacity: 1; left: 0;}
main div.aside .txt {width: 25%; height: 100%;}
main div.aside .txt h1 {font: normal 6vw/1 'Alegreya Sans'; color: #fff; margin-bottom: 20px; font-weight: bold;}
main div.aside .txt p {font: 1.1vw/1.3 'arial'; color: #555; margin-bottom: 60px;}
main div.aside .txt span {cursor: pointer; color: brown; font-weight: bold; letter-spacing: 2px;}
main div.aside figure {width: 72%; height: 100%;}
main div.aside figure video {width: 100%; height: 100%; object-fit: cover;}


main header {width: 20%; height: 100%; padding: 10vh 5vw; display: flex; flex-wrap: wrap; align-content: space-between; justify-content: center; position: relative; z-index: 3;}
main header h1 {font-size: 0; text-align: center;}
main header h1 i {font-size: 5vw; margin-bottom: 15px; color: darkgreen;}
main header h1 span {font: normal 1.5vw/1 'arial'; color: brown;}
main header address {font: normal 11px/1.2 'arial'; color: #888;}

main nav {position: absolute; top: 10vh; right: 5vw; z-index: 3;}
main nav ul {display: flex;}
main nav ul li a {font-size: 18px; color: #ddd; margin-right: 30px;}

main section {position: relative; width: 80%; height: 100%; display: flex; padding-top: 40px; z-index: 1;}
main section article {position: relative; flex: 1; padding: 70px 40px 100px; opacity: 0.6; transition: flex 1s, opacity 1s; z-index: 1; cursor: pointer;}
main section article .outer {width: 80%; height: 95%; background-color: beige; position: absolute; top: 0; left: -200px; opacity: 0; transition: 1s; background-color: #888;}
main section article .inner {width: 100%; height: 100%; display: flex; flex-wrap: wrap; align-content: space-between; position: relative; top: 0; left: 0;}
main section article .inner .txt {width: 100%; transition: .5s;}
main section article .inner .txt h2 {font: nomal 2vw/1 'Alegreya Sans'; color: #444; margin-bottom: 40px; padding-top: 70px; transition: 1s;}
main section article .inner .txt h2::after{content: ""; display: block; width: 40px; height: 2px; background-color: #777; margin-top: 20px; transition: 1.5s;}
main section article .inner .txt p {font: 14px/1.4 'arial'; color: #555;}
main section article .inner figure {width: 100%; height: 15vh; background-color: #777; transform-origin: left center; box-shadow: 5px 5px 30px rgba(0,0,0,.3); position: relative; overflow: hidden; filter: saturate(10%); transition: 1s;}
main section article .inner figure video {width: 100%; height: 100%; object-fit: cover; transform: scale(1.1);}

main section article:hover {flex: 1.5; opacity: 1; z-index: 2;}
main section article:hover .outer {left: 0; opacity: 1;}
main section article:hover .inner .txt {width: 75%;}
main section article:hover .inner .txt h2 {font-size: 5vw; padding: 0; color: #fff;}
main section article:hover .inner .txt h2::after {width: 120px; background-color: #fff;}
main section article:hover .inner figure {height: 25vw; filter: saturate(120%); transform: translateY(3vh);}